<div class="breadcrumb">
  <div class="container">
    <%= link_to t(".home"), root_path, class: "breadcrumb-item" %>
    <span class="breadcrumb-item active"><%= t ".login" %></span>
  </div>
</div>
<section class="static about-sec">
  <div class="container">
    <h1><%= t ".title" %></h1>
    <div class="form">
      <%= form_for :session, url: login_path do |f| %>
        <%= f.label t(".email") %>
        <%= f.email_field :email, class: "form-control" %>

        <%= f.label t(".password") %>
        <%= f.password_field :password, class: "form-control" %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span><%= t ".remember" %></span>
        <% end %>

        <%= f.submit t(".login"), class: "btn col-md-3" %>
      <% end %>
      <div class="row">
        <h5><%= t ".text" %> <%= link_to t(".signup"), signup_path %></h5>
      </div>
    </div>
    </form>
  </div>
</section>
