<section class="slider">
  <div class="container">
    <div id="owl-demo" class="owl-carousel owl-theme">
      <%= render "layouts/slide" %>
    </div>
  </div>
</section>
<section class="recent-book-sec">
  <div class="container">
    <div class="title">
      <h2><%= t ".title1" %></h2>
      <hr>
    </div>
    <div class="row">
      <%= render @stories %>
    </div>
  </div>
</section>
<section class="recent-book-sec">
  <div class="container">
    <div class="title">
      <h2><%= t ".title2" %></h2>
      <hr>
    </div>
    <div class="row">
      <%= render @stories %>
    </div>
    <div class="btn-sec">
      <%= link_to t(".btn"), stories_path, class: "btn blue-btn" %>
    </div>
  </div>
</section>
