<section class="recent-book-sec">
  <div class="container">
    <div class="title">
      <h2><%= t ".title" %></h2>
      <hr>
    </div>
    <div class="row col-md-12">
      <table class="table" id="stories-table">
        <%= link_to t(".new_story"), new_story_path, class: "btn btn-small col-md-2 mb-lg-5" %>
        <thead>
        <tr>
          <th><%= t ".id" %></th>
          <th><%= t ".story" %></th>
          <th><%= t ".author" %></th>
          <th><%= t ".update_time" %></th>
          <th><%= t ".action" %></th>
        </tr>
        </thead>
        <tbody>
        <% @stories.each do |story| %>
          <tr>
            <td><%= story.id %></td>
            <td>
              <%= link_to story.name, chapters_story_path(story.id) %>
              <span class="tooltipintro"><%= story.introduction %></span>
            </td>
            <td><%= story.author %></td>
            <td><%= story.date_time %></td>
            <td>
              <%= link_to t(".edit"), edit_story_path(story), class: "btn btn-small blue-btn" %>
              <%= link_to t(".delete"), story, method: :delete, class: "btn btn-small red-btn",
                data: {confirm: t(".confirm")} %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
