<div class="center">
  <h1><%= t ".title" %></h1>
  <div class="row">
    <%= form_tag search_index_path, method: :get do %>
      <%= text_field_tag :form_search, params[:name], autocomplete: :off,
        class: "col-md-offset-3 form-control", placeholder: t(".search") %>
    <% end %> 
  </div>
  <div class="story_content">
    <%= render "shared/show_list", objects: @search_stories %>
  </div>
</div>
<div class="footer col-md-12">
  <h1><%= t ".title" %></h1>
</div>
