<section class="recent-book-sec">
  <div class="container">
    <div class="title">
      <h2><%= t ".title" %></h2>
      <hr>
    </div>
    <div class="row">
      <% @chapters.each do |chap| %>
        <div class="col-lg-2 col-md-3 col-sm-4">
          <div class="item">
            <%= image_tag Settings.story_image %>
            <h3><span class="name"><%= chap.story_name %></span></h3>
            (<%= t ".chapter" %> <%= chap.chapter_number %>)
            <%= link_to chap do %>
              <div class="hover">
                <h3><%= t ".text1" %></h3>
                <div class="intro"><%= chap.story_introduction %></div>
                <h3><%= t ".text3" %></h3>
                <% chap.story.categories.each do |cat| %>
                  <div class="cat"><%= link_to cat.name, category_path(cat), class: "tag" %></div> 
                <% end %>
                <h5 class="view"><%= t ".text2" %><%= chap.story_total_view %></h5>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="paginate">
      <%= paginate @chapters, theme: Settings.theme %>
    </div>
  </div>
</section>
