<li class="<%= notification.status %>">
  <div><%= hidden_field_tag :noti_id, notification.id %></div>
  <div class="row">
    <div class="col-md-10">
      <%= link_to notification, remote: true, method: :put do %>
        <h5><%= notification.event %></h5>
        <h7><%= time_ago_in_words notification.created_at %></h7>
      <% end %>
    </div>
    <%= link_to notification, remote: true, method: :delete do %>
      <div class="col-md-1"><span class="fa fa-times"></span></div>
    <% end %>
  </div>
</li>
