<%= form_for @story do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="col-md-9">  
    <%= f.label t(".name") %>
    <%= f.text_field :name %>
  </div>

  <div class="col-md-3">
    <%= f.label t(".type") %>
    <%= f.select :sales_type, sales_types_option %>
  </div>

  <div class="col-md-12">
    <%= f.label t(".author") %>
    <%= f.text_field :author %>
  </div>

  <div class="col-md-12">
    <%= f.label t(".introduction") %>
    <%= f.text_area :introduction %>
  </div>

  <%= fields_for @category_stories do |f| %>
    <div class="col-md-12">
      <%= f.label t(".categories") %>
      <%= collection_select :category, :ids, Category.all, :id, :name,
        {selected: @story.categories.collect {|c| c.id}},
          {multiple: true, class: "ui fluid selection dropdown form-control"} %>
    </div>
  <% end %>

  <%= f.submit yield(:button_text), class: "btn col-md-offset-4 col-md-4" %>
<% end %>

<%= stylesheet_link_tag"https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css", 'data-turbolinks-track' => true %>
