<table class="table">
  <tr>
    <th><%= t ".chapter" %></th>
    <th><%= t ".name" %></th>
    <th><%= t ".update_time" %></th>
  </tr>
  <% @chapters.each do |chapter| %>
    <tr>
      <td><%= chapter.chapter_number %>
      <td><%= link_to chapter.name, chapter_path(chapter.id) %></td>
      <td><%= chapter.date_time %></td>
    </tr>
  <% end %>
</table>
<%= paginate @chapters, theme: Settings.theme %>
