<table class="table">
  <tr>
    <th><%= t ".chapter" %></th>
    <th><%= t ".name" %></th>
    <th><%= t ".update_time" %></th>
    <% if user_signed_in? %>
      <th><%= t ".action" %></th>
    <% end %>
  </tr>
  <%= render @chapters %>
</table>
<%= paginate @chapters, theme: Settings.theme, param_name: "chapter_page" %>
