<p><%= @story.introduction %></p>
<ul>
  <li>
    <span class="name"><%= t ".author" %></span><span class="clm"></span>
    <span class="detail"><%= @story.author %></span>
  </li>
  <li>
    <span class="name"><%= t ".lastest_chapter" %></span><span class="clm"></span>
    <span class="detail"><%= @story.chapters.lastest_chapter unless @story.chapters.lastest_chapter.blank? %></span>
  </li>
  <li>
    <span class="name"><%= t ".total_view" %></span><span class="clm"></span>
    <span class="detail"><%= @story.total_view %></span>
  </li>
  <li>
    <span class="name"><%= t ".rating" %></span><span class="clm"></span>
    <span class="detail star">
      <%= rating_for @story, "rating", star: 5, disable_after_rate: true, cancel: true %>  
    </span>
    <span class="detail">
      (<%= t ".votes" %><%= @story.rates("rating").count %>)
    </span>
  </li>
  <li>
    <span class="name"><%= t ".categories" %></span><span class="clm"></span>
    <% @story.categories.each do |cat| %>
    <div class="cat1"><%= link_to cat.name, category_path(cat), class: "tag1" %></div>
    <% end %>
  </li>
</ul>
