<table class="table">
  <tr>
    <th><%= t ".name" %></th>
    <td><%= @story.name %></td>
  </tr>
  <tr>
    <th><%= t ".author" %></th>
    <td><%= @story.author %></td>
  </tr>
  <tr>
    <th><%=  t ".introduction" %></th>
    <td><%= @story.introduction %></td>
  </tr>
  <tr>
    <th><%=  t ".categories" %></th>
    <td>
      <% @categories.each do |category| %>
        <%= link_to category.name, category_path(category) %> |
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%=  t ".total_view" %></th>
    <td><%= @story.total_view %></td>
  </tr>
</table>
