<div class="breadcrumb">
  <div class="container">
    <%= link_to t(".home"), root_path, class: "breadcrumb-item" %>
    <%= link_to t(".all_stories"), stories_path, class: "breadcrumb-item" %>
    <span class="breadcrumb-item active"><%= @story.name %></span>
  </div>
</div>
<section class="product-sec">
  <div class="container">
    <h1><%= @story.name %></h1>
    <div class="row">
      <div class="col-md-6 slider-sec">
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="active item carousel-item">
            <%= image_tag Settings.story_image %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 slider-content">
        <%= render "story_details" %>
      </div>
      <div class="col-md-offset-1 col-md-10 slider-chapter">
        <%= render "list_chapters" %>
      </div>
    </div>
  </div>
</section>
<% if current_user %>
  <div id="new_comment">
    <%= render "comments/new" %>
  </div>
  <div id="all_comment">
    <%= render @comments %>
  </div>
  <div id="infinite-scrolling" class="hidden">
    <%= paginate @comments, param_name: "comment_page" %>
  </div>
<% end %>
