<div class="center story_content">
  <div class="row">
    <h1>
      <%= @story.name %>
      <% if current_user&.is_admin? %>
        <%= link_to t(".edit"), edit_story_path(@story), class: "btn btn-primary" %>
        <%= link_to t(".delete"), @story, method: :delete,
          class: "btn btn-danger", data: {confirm: t(".confirm")} %>
        <%= link_to t(".add_chapter"), new_chapter_path(story_id: @story.id),
          class: "btn btn-primary", id: "add_chapter" %>
      <% end %>
    </h1>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= image_tag Settings.story_image %>
    </div>
    <div class="col-md-9">
      <%= render "story_details" %>  
    </div>
  </div>
  <div class="row">
    <%= render "list_chapters" %>
  </div>
</div>
