<div class="breadcrumb">
  <div class="container">
    <%= link_to t(".home"), root_path, class: "breadcrumb-item" %>
    <span class="breadcrumb-item active"><%= t ".login" %></span>
  </div>
</div>
<section class="static about-sec">
  <div class="container">
    <h1><%= t ".title" %></h1>
    <div class="form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.label t(".email") %>
        <%= f.email_field :email, class: "form-control" %>

        <%= f.label t(".password") %>
        <%= f.password_field :password, class: "form-control" %>

        <% if devise_mapping.rememberable? %>
          <%= f.label t(".remember"), class: "checkbox" do %>
            <%= f.check_box :remember_me %>
            <p><%= t ".remember" %></p>
          <% end %>
        <% end %>

        <div class="field">
          <%= f.submit t(".login"), class: "btn col-md-3" %>
        </div>
      <% end %>
      <div class="row">
        <h5>
          <%= t ".text" %> <%= link_to t(".signup"), new_user_registration_path %>
        </h5>
      </div>
    </div>
  </div>
</section>
