<div class="breadcrumb">
  <div class="container">
    <%= link_to t(".management"), management_path, class: "breadcrumb-item" %>
    <span class="breadcrumb-item active"><%= @story.name %></span>
  </div>
</div>
<section class="product-sec">
  <div class="container">
    <div class="row">
      <h1 class="col-md-10"><%= @story.name %></h1>
      <%= link_to t(".new_chapter"), new_chapter_path(story_id: @story.id, new_chapter: @story.new_chapter), class: "btn btn-small" %>
    </div>
    <div class="col-md-offset-1 col-md-11 slider-chapter">
      <%= render "stories/list_chapters" %>
    </div>
  </div>
</section>
