<div class="breadcrumb">
  <div class="container">
    <%= link_to t(".home"), root_path, class: "breadcrumb-item" %>
    <%= link_to @chapter.story_name, story_path(@chapter.story), class: "breadcrumb-item" %>
    <span class="breadcrumb-item"><%= t ".chapter" %> <%= @chapter.chapter_number %>: <%= @chapter.name %></span>
  </div>
</div>
<section class="product-sec" data-turbolinks="false">
  <div class="container" id="chapter_content">
  <div><%= hidden_field_tag :position, @history.position %></div>
    <%= render "next_previous_btn" %>
    <h1><%= t ".chapter" %> <%= @chapter.chapter_number %>: <%= @chapter.name %></h1>
    <div class="row">
      <p><%= @chapter.content.html_safe %></p>
    </div>
    <%= render "next_previous_btn" %> 
  </div>
</section>
