<div class="center">
  <h1><%= link_to @chapter.story_name, story_path(@chapter.story) %></h1>
  <h2><%= t ".chapter" %> <%= @chapter.chapter_number %>: <%= @chapter.name %></h2>
  <div class="col-md-12 story_content">
    <p><%= @chapter.content.html_safe %></p>  
  </div>
  <div class="col-md-2">
    <h4><%= link_to t(".previous"), chapter_path(@chapter.previous_chapter) if @chapter.previous_chapter %></h4>
  </div>
  <div class="right">
    <h4><%= link_to t(".next"), chapter_path(@chapter.next_chapter) if @chapter.next_chapter %></h4>
  </div>
</div>
<div class="footer col-md-12">
  <h1><%= t ".title" %></h1>
</div>
