<header class="main">
  <title><%= t ".title" %></title>
    <div class="row">
      <nav>
        <ul>
          <li><%= link_to t(".home"), root_path %></li>
          <li><%= link_to t(".stories"), stories_path %></li>
          <li><%= link_to t(".follows"), "#" %></li>
          <li><%= link_to t(".histories"), "#" %></li>
          <li><%= link_to t(".categories"), categories_path %></li>
        </ul>
      </nav>
      <nav class="col-md-6">
        <ul>
          <% if logged_in? %>
            <li><%= current_user.name %></li>
            <li><%= link_to t(".logout"), logout_path, 
              method: :delete %></li>
          <% else %>
            <li><%= link_to t(".signup"), signup_path %></li>
            <li><%= link_to t(".login"), login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="row">
      <%= link_to t(".logo"), "#", class: "col-md-2 logo" %>
      <%= text_field :form, :search, class: "col-md-offset-3 form-control", placeholder: t(".search") %> 
    </div>
</header>
