<div class="item">
  <div class="slide">
    <%= image_tag Settings.slide1 %>
    <div class="content">
      <div class="title">
        <h3><%= t ".text1" %></h3>
        <h5><%= t ".text2" %></h5>
        <%= link_to t(".all"), stories_path, class: "btn blue-btn" %>
      </div>
    </div>
  </div>
</div>
<div class="item">
  <div class="slide">
    <%= image_tag Settings.slide2 %>
    <div class="content">
      <div class="title">
        <h3><%= t ".text1" %></h3>
        <h5><%= t ".text2" %></h5>
        <%= link_to t(".all"), stories_path, class: "btn blue-btn" %>
      </div>
    </div>
  </div>
</div>
<div class="item">
  <div class="slide">
    <%= image_tag Settings.slide3 %>
    <div class="content">
      <div class="title">
        <h3><%= t ".text1" %></h3>
        <h5><%= t ".text2" %></h5>
        <%= link_to t(".all"), stories_path, class: "btn blue-btn" %>
      </div>
    </div>
  </div>
</div>
